<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Arduino self driving car - radar</title>
    <link rel="stylesheet" href="/css/radar.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js" charset="utf-8"></script>
  </head>
  <body>

    <canvas id="canvas" width="450" height="50"></canvas>

    <div id="sensor1"></div>
    <div id="sensor2"></div>
    <div id="sensor3"></div>

  </body>
  <script src="/js/radar.js" charset="utf-8"></script>
</html>
